{% extends 'base.html' %}
{% block title %} Відгуки {% endblock %}

{% block body %}
<section class="page-section" id="feedback_table">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-primary mb-0">Відгуки</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">
        <div class="container col-md-8 col-lg-8">
            <form id="createFeedback" action={{ url_for('feedback_bp.create_feedback') }} method="POST">
                {% from "_render_field.html" import render_field %}
                {{ feedback_form.csrf_token }}
                <div class="form-floating mb-3">
                    {{ render_field(feedback_form.name) }}
                </div>
                <div class="form-floating mb-3">
                    {{ render_field(feedback_form.email) }}
                </div>
                <div class="form-floating mb-3">
                    {{ render_field(feedback_form.description) }}
                </div>
                <div class="form-floating mb-3">
                    {{ render_field(feedback_form.rate) }}
                </div>
                {{feedback_form.submit(class_='btn btn-primary btn-xl')}}
            </form>
        </div>
    </div>
</section>
<section>
    <div class="row justify-content-center">   
        <div class="container col-md-8 col-lg-8">
            <table class="table table-light">
                <thead class="table-primary">
                    <tr class = "feedbackTable">
                        <th class = "feedbackTable">Номер</th>
                        <th class = "feedbackTable">Імʼя</th>
                        <th class = "feedbackTable">Опис</th>
                        <th class = "feedbackTable">Оцінка</th>
                        <th class = "feedbackTable">Корисний?</th>
                        <th class = "feedbackTable">Дії</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in feedback_list %}
                    <tr>
                        <th scope="row">{{ feedback.id }}</th>
                        <td class = "feedbackTable">{{ feedback.title }}</td>
                        <td class = "feedbackTable">{{ feedback.name }}</feedback> }}</td>
                        <td class = "feedbackTable">{{ feedback.description }}</td>
                        <td class = "feedbackTable">{{ feedback.rate }}</td>
                        <td class = "feedbackTable">
                            {% if feedback.useful == False %}
                            <div class="alert alert-secondary" roles="alert">Ні</div>
                            {% else %}
                            <div class="alert alert-success" roles="alert">Так</div>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-success" href={{url_for("feedback_bp.update_feedback", feedback_id = feedback.id) }}>Оновити</a>
                            <a class="btn btn-danger ms-1" href={{url_for("feedback_bp.delete_feedback", feedback_id = feedback.id) }}>Видалити</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}