{% extends 'base.html' %}
{% block title %} Створити аккаунт {% endblock %}

{% block body %}
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Створити аккаунт</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" action={{url_for("auth_bp.register")}} method="POST" novalidate>
                    {% from "_render_field.html" import render_field %}
                    {{form.csrf_token}}
                    <div class="form-floating mb-3">
                        {{ render_field(form.username)}}
                    </div>
                    <div class="form-floating mb-3">
                        {{ render_field(form.email)}}
                    </div>
                    <div class="form-floating mb-3">
                        {{ render_field(form.password)}}
                    </div>
                    <div class="form-floating mb-3">
                        {{ render_field(form.confirm_password)}}
                    </div>
                    <div class="form-floating mb-3">
                        {{ render_field(form.image_file)}}
                    </div>
                    {{form.submit(class_='btn btn-primary btn-xl')}}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}