{% extends 'base.html' %}
{% block title %} Пости {% endblock %}

{% block body %}
<section>
    <div class="row justify-content-center">   
        <div class="container col-md-8 col-lg-8">
            <br>
            <table class="table table-light">
                <thead class="table-primary">
                    <tr class = "postTable">
                        <th class = "postTable">Світлина</th>
                        <th class = "postTable">Значення</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in all_posts %}
                    <tr>
                        <th scope="row"><img src="{{url_for('post_bp.static', filename='images/' + post.image_file)}}" width="150px"></th>
                        <td class = "postTable"><a href="{{ url_for('post_bp.view_detail', id=post.id) }}">{{ post.title }}</a></td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="4"><strong>Пости відсутні. <a href={{url_for("post_bp.create")}}>Створіть свій перший пост</a></strong></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <h4 class="text-center"><a href={{url_for("post_bp.view_post_by_date")}}>Вивести пости за датою</a></h4>
        </div>
    </div>
</section>
{% endblock %}