<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/styles.css') }}>
    <script src={{ url_for('static', filename='js/scripts.js') }}></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    {% block extra_scripts %}{% endblock %}
</head>
<body>
    {% include 'nav.html' %}

    <div class="container align-items-center flex-column">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="list-group">
            {% for category, message in messages %}
                <li class="list-group-item list-group-item-{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>