<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <p>User's OS: {{ user_os }} <br>
                User-Agent: {{ user_agent }} <br> 
                Current time: {{ current_time }} <br>
            </p>
        </div>
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Особисті дані</h4>
                <p class="lead mb-0">
                    м. Яремче
                    <br />
                    <a href=mailto:vasyl.ivasiuk.21@pnu.edu.ua>vasyl.ivasiuk.21@pnu.edu.ua</a>
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Особисті сторінки</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/vjwmaps"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://reddit.com/u/vjwua/"><i class="fab fa-fw fa-reddit"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/vjwua"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="http://ivasiuk.infinityfreeapp.com/"><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Використані ресурси</h4>
                <p class="lead mb-0">
                    Фреймворк Flask <br>
                    Тема від <a href="http://startbootstrap.com">Start Bootstrap</a>
                </p>
            </div>
        </div>
    </div>
</footer>